
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"> 
<sly data-sly-call="${clientlib.css @categories='homePage.site'}"/>

<sly data-sly-include="/apps/Project_O2Store/components/structure/CartComponent/CartComponent.html"/>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <center>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/content/Project_O2Store/language-master/en/planters.html"><img src="/content/dam/Project_O2Store/en/homepage/banner1.jpg"
                        alt="Los Angeles" width="1100" height="500"></a>
                </div>
                <div class="carousel-item">
                     <a href="/content/Project_O2Store/language-master/en/seeds.html"><img src="/content/dam/Project_O2Store/en/homepage/banner2.jpg" alt="Chicago"
                        width="1100" height="500"></a>
                </div>
                <div class="carousel-item">
                     <a href="/content/Project_O2Store/language-master/en/plants.html"><img src="/content/dam/Project_O2Store/en/homepage/banner3.jpg"
                        alt="New York" width="1100" height="500"></a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </center>
    <br><br>
    <div class="container">
         <a href="/content/Project_O2Store/language-master/en/planters.html"><img id="round_img" src="/content/dam/Project_O2Store/en/homepage/p13.jpg"
            alt="Avatar" style="width:270px;padding:10px"></a>
         <a href="/content/Project_O2Store/language-master/en/seeds.html"><img id="round_img" src="/content/dam/Project_O2Store/en/homepage/p9.jpg"
            alt="Avatar" style="width:270px;padding:10px"></a>
         <a href="/content/Project_O2Store/language-master/en/plants.html"><img id="round_img" src="/content/dam/Project_O2Store/en/homepage/p7.jpg"
            alt="Avatar" style="width:270px;padding:10px"></a>
         <a href="/content/Project_O2Store/language-master/en/plants.html"><img id="round_img" src="/content/dam/Project_O2Store/en/homepage/p8.jpg"
            alt="Avatar" style="width:270px;padding:10px"></a>
        <br><br>
        <div class="row">
            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/seeds.html"><img src="/content/dam/Project_O2Store/en/homepage/p16.jpg" alt="Snow"
                    style="width:100%;height: 90%;"></a>
                <div class="top-left1">
                	<p style="font-size:35px"><b>Seeds</b></p>
                    <p><b>The most important seed you can plant is kindness;</b> </p>
                    <p><b>the most important crop it yields is joy</b></p>
                </div>
            </div>
            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/planters.html"><img src="/content/dam/Project_O2Store/en/homepage/freddie-marriage-UcfKYTan-LU-unsplash.jpg"
                    alt="Forest" style="width:100%;height:90%"></a>
                    <div class="top-left2">
                    	<p style="font-size:35px"><b>Planters</b></p>
                    	<p><b>Life is the flower for which love is the honey</b></p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/fertilizers.html"><img src="/content/dam/Project_O2Store/en/homepage/p17.jpg" alt="Snow"
                    style="width:100%;height: 90%;"></a>
					<div class="top-left3">
                    	<p style="font-size:35px"><b>Fertilizers</b></p>
                    	<p><b>If you want to be Happy</b></p>
                        <p><b>for a lifetime, Be a Garderner</b></p>
                    </div>

            </div>
            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/plants.html"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-watering-houseplants-royalty-free-image-1616000139.?crop=1.00xw:0.752xh;0,0.224xh&resize=1200:*"
                    alt="Forest" style="width:100%;height:90%"></a>
                    <div class="top-left4">
                    	<p style="font-size:35px"><b>Plants</b></p>
                    	<p><b> How lovely the silence</b></p>
                        <p><b>of growing things</b></p>
                    </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/plants.html"><img src="/content/dam/Project_O2Store/en/homepage/p12.jpg"
                    style="width:100%;height: 30%;"></a>
                <a href="/content/Project_O2Store/language-master/en/plants.html"><button class="btn1">Shop Now</button></a>
                <div class="text1">
	                <p style="font-size:35px"><b>Plants</b></p>
                </div>

                 <a href="/content/Project_O2Store/language-master/en/seeds.html"><img src="/content/dam/Project_O2Store/en/homepage/p9.jpg"
                    style="width:100%;height: 40%;"></a>
                <a href="/content/Project_O2Store/language-master/en/seeds.html"><button class="btn2">Shop Now</button></a>
                <div class="text2">
	                <p style="font-size:35px"><b>Seeds</b></p>
                </div>
            </div>

            <div class="column">
                 <a href="/content/Project_O2Store/language-master/en/planters.html"><img src="/content/dam/Project_O2Store/en/homepage/p13.jpg"
                    style="width:100%;height:40%"></a>
                <a href="/content/Project_O2Store/language-master/en/planters.html"><button class="btn3">Shop Now</button></a>
                <div class="text3">
	                <p style="font-size:35px"><b>Planters</b></p>
                </div>

                 <a href="/content/Project_O2Store/language-master/en/fertilizers.html"><img src="/content/dam/Project_O2Store/en/homepage/p14.jpg"
                    style="width:100%;height: 30%;"></a>
                <a href="/content/Project_O2Store/language-master/en/fertilizers.html"><button class="btn4">Shop Now</button></a>
                <div class="text4">
	                <p style="font-size:35px"><b>Fertilizers</b></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>